# Server Port
PORT=8787

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_mail_app_password

# JWT Configuration
AUTH_SIGNING_KEY=your_jwt_signing_key

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5674
RABBITMQ_USERNAME=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password

# Redis Configuration
REDIS_SENTINEL_HOSTS=host1:26379,host2:26380,host3:26381
REDIS_MASTER_NAME=your_redis_master_name
REDIS_HOST=localhost:6379
REDIS_TYPE=1
REDIS_PASSWORD=your_redis_password

# Google OAuth Configuration
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id
GOOGLE_WEB_CLIENT_SECRET=your_google_web_client_secret
GOOGLE_WEB_REDIRECT_URI=http://localhost:5500/auth/google/callback.html
GOOGLE_IOS_CLIENT_ID=your_google_ios_client_id
GOOGLE_ANDROID_CLIENT_ID=your_google_android_client_id